[
  {
    "apiVersion": "v1",
    "kind": "Pod",
    "metadata": {
      "name": "{{ capacity_planner_name }}"
    },
    "spec": {
      "containers": [
        {
          "volumeMounts": [
            {
             "mountPath":"/autoshift-capacityplanner/log",
             "name":"log"
            }
          ],
          "name": "capplanner",
          "image": "10.145.88.66:5000/demo/smartops/smartops-capacityplanner",
          "env": [
            {
              "name": "MAX_REPLICA_ADD",
              "value": "6"
            },
            {
              "name": "APPLICATION_TOPOLOGY",
              "value": "{{ application_topology }}"
            },
            {
              "name": "API_ENDPOINT",
              "value": "{{ api_endpoint }}"
            },
            {
              "name": "INFLUXD_USE_SSL",
              "value": "false"
            },
            {
              "name": "INFLUXDB_ENDPOINT",
              "value": "influxdb.smartops:8086"
            },
            {
              "name": "INFLUXDB_DATABASE",
              "value": "user_1"
            }
          ],
          "ports": [
            {
              "containerPort": 8086
            }
          ],
          "imagePullPolicy": "Always"
        }
      ],
      "nodeSelector": {
        "stack": "smartops"
      },
      "restartPolicy": "OnFailure",
      "volumes": [
        {"name":"log",
         "hostPath": {"path":"/autoshift-capacityplanner-logs"}
        }
      ]
    }
  }
]
